#tweet-text {
  border-style: none;
  width: 100%;
  background-color: #f4f1ec;
  border-bottom: solid;
  resize: none;
  font-size: 18px;
  padding:5px 10px;
}

.tweet-submit {
  padding: 5px 10px;
  color: white;
  background-color: #4055a1;
  outline: none;
  border: none;
}

.tweet-submit:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.submit-counter {
  display: flex;
  justify-content: space-between;
  align-self: center;
  font-family: "Bungee", sans-serif;
  margin-top: 10px;
}

.over-limit {
  color: red;
}